.offcanvas {
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    transform: translateX(100%); /* Start off-canvas */
  }
  
  .offcanvas.show {
    transform: translateX(0); /* Move into view */
  }
  .offcanvas-body {
    background-color:  white; /* Default background color */
    color: black; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none;
  }
  
  .offcanvas-body:hover {
    background-color: rgb(254, 254, 255); /* Background color on hover */
  }
  
  .desktop-only {
    display: block; /* Default to display on desktop */
}

@media (max-width: 768px) {
    .desktop-only {
        display: none; /* Hide on screens smaller than 768px */
    }
}
  